name: Release
on:
  push:
    branches: [master, main]
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install sbt
        uses: sbt/setup-sbt@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - run: sbt clean
      - name: "view git diff"
        run: git diff
        if: ${{ always() }}
